/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
wsl/*
*.patch
.idea/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
vendor/*
!vendor/github.com/mixio/mixbee-crypto/*
Chain/*
/config/*
nodectl
wallet.dat
cscope*
*.exe
**/*.log
**/*.txt
neosnapshot/*
glide.lock
*.iml
